#This is example config, don't direct modify this file, all changes will revert when you reload the plugin.

#Do not touch if you not clear know about this
config-version: 106

#Select the language you want to use, (e.g de), use only supported language codes from the list below.
#If you use a not exist/not support language, plugin will move to use en_US to keep everything working.
#After you set the new language, you need to delete `messages.yml` to let plugin regen it with your desired language file.

#Available languages:
#af-ZA
#ar-SA
#ca-ES
#cs-CZ
#da-DK
#de-DE
#el-GR
#en-US
#es-ES
#fi-FI
#fr-FR
#he-IL
#hu-HU
#it-IT
#ja-JP
#ko-KR
#nl-NL
#no-NO
#pl-PL
#pt-BR
#pt-PT
#ro-RO
#sr-SP
#sv-SE
#tr-TR
#uk-UA
#vi-VN
#zh-CN
#zh-TW

language: en-US

#After you setup this, quickshop will download items/blocks/enchs and potions translation from MOJANGAPI
#You can find supported language in your Minecraft Client Languages menu, fill this with the language Code.
#E.g [English (en-US)] The Language Code is en-US
game-language: default

#This enables developer mode, Do not touch this if you not know what it does
dev-mode: false

#Tax amount (decimal) - Eg, P1 buys $50 worth of stuff from P2.  Therefore, P1 loses $50, P2 gains $(1-0.05)*50, and tax-account gains $(0.05)*50.
tax: 0.05

#The fake player where money from taxing people goes to
tax-account: tax

#Whether or not to show taxes paid when selling to a shop
show-tax: false

#Whether or not to respect item flag (e.g. hide the enchantment info when item have HIDE_ENCHANTS flag)
respect-item-flag: true

#Should we log transactions/creations to Bukkit\Plugins\QuickShop\qs.log?
log-actions: true

#For item-item based economies that don't use virtual coins.
whole-number-prices-only: false

#Force bukkit chat handler (https://github.com/KaiKikuchi/QuickShop/issues/10)
force-bukkit-chat-handler: false

#Disallow QuickShop-Reremake to send metrics data to bStats.
disabled-metrics: false

#Should QS be allowed to check for updates on SpigotMC.org?
updater: true

#Should QS be allowed to auto report errors to the author?
auto-report-errors: true

#Should QS use OfflinePlayer list for TabComplete?
#This might give players a better experience, but may cause lag due to searching what can be a long list.
#false = Only use the OnlinePlayer list, true = A list of all players that have ever joined your server before.
include-offlineplayer-list: false

#What economy provider you want let QuickShop use?
#0=Vault
#1=Reserve
#2=Vault+Command mixed
#DO NOT TOUCH THIS IF YOU DIDN'T KNOW WHAT WILL HAPPEN. ASK FOR SUPPORT BEFORE TOUCH THIS!
#DO NOT TOUCH THIS IF YOU DIDN'T KNOW WHAT WILL HAPPEN. ASK FOR SUPPORT BEFORE TOUCH THIS!
#DO NOT TOUCH THIS IF YOU DIDN'T KNOW WHAT WILL HAPPEN. ASK FOR SUPPORT BEFORE TOUCH THIS!
#DO NOT TOUCH THIS IF YOU DIDN'T KNOW WHAT WILL HAPPEN. ASK FOR SUPPORT BEFORE TOUCH THIS!
#DO NOT TOUCH THIS IF YOU DIDN'T KNOW WHAT WILL HAPPEN. ASK FOR SUPPORT BEFORE TOUCH THIS!
economy-type: 0

#The decimal format the double output, includes player money output
#Default is #,###.##
# whether to use decimal format output.
use-decimal-format: false

decimal-format: "#,###.##"

#Allow plugin send alert when something trying make a displayItem exploit
send-display-item-protection-alert: false

#Allow plugin send alert when something trying steal shop
send-shop-protection-alert: false

#Still WIP
server-platform: 0

#BETA=Use caching for shop finding to optimize performance if possible
use-caching: false

#MySQL database settings.
database:
  # false = use local SQLite database, true = use local/remote MySQL database.
  mysql: false
  host: localhost
  port: 3306
  database: quickshop
  user: root
  password: passwd
  # Set prefix to "none" to remove prefix
  prefix: none
  usessl: false
  #Whether to use async queue?
  queue: true
  #How long between each commit when using queue? (seconds)
  queue-commit-interval: 2
  # Auto set table encoding to utf8mb4 (beta)
  auto-fix-encoding-issue-in-database: false

#Limits the number of shops a person can create and own at a single time.
limits:
  #Disable these if you're not using them! If this is false, the rest of this section is ignored
  use: false

  #The default number of shops players can make
  default: 10

  #Use old algorithm to calc unlimited shops into limits.
  old-algorithm: false

  #Players with these permissions can create these amounts of shops.
  ranks:
    #Anyone with 'quickshop.vip' permissions, can create 20 shops instead of 10.
    quickshop:
      vip: 20 #Players with quickshop.vip can make 20 shops.

#A list of block (materials) which can be used to create shops.
#By default, chests are added to this list.
#This will only work for blocks which implement InventoryHolder
#in other words, no enderchest shops, no shops on dirt blocks, etc.
#May cause unexpected behavior with some blocks... Eg don't make a
#shop on a hopper (It sucks the display item in) and furnace shops
#allow players to put whatever item they want in all 3 slots and
#dispenser shops aren't protected from redstone... Etc.
shop-blocks:
  - CHEST
  - TRAPPED_CHEST
  - ENDER_CHEST
shop:
  #Cost to make a shop
  cost: 10
  #Should we refund the player when their shops are deleted/removed/broken?
  refund: false

  #Should we disable trading for creative mode?
  disable-creative-mode-trading: false
  #Should we disable super tool?(It's a tool which allow you break shop in creative mode by gold axe)
  disable-super-tool: false
  #Should we allow the owner of shop break the sign (for sign replacement, but may cause sign dupe when auto-sign is true)?
  allow-owner-break-shop-sign: false

  #Is there a fee for changing prices on a shop (Help deter endless undercutting)
  price-change-requires-fee: true
  #If price changes require a fee, how much is the fee
  fee-for-price-change: 50

  #Should we try and lock their shops from other players, so people can't steal from them?
  lock: true

  #Should we disable the quick way of creating shop? (click a chest with item)
  disable-quick-create: false

  #Interact options
  interact:
    #If you enable this and not enable below options
    #You MUST not to sneak to use the shop function
    #But if you disable this and not enable below options
    #whether you are sneaking or not, you can always use the shop function
    switch-mode: false
    sneak-to-create: false
    sneak-to-trade: false
    sneak-to-control: false

  #Should we automatically create the sign for the chest?
  auto-sign: true

  #Should we pay/take money to/from unlimited shops owner?
  pay-unlimited-shop-owners: false

  #Should we place display items on the chests? This may cause duped items, especially for modded servers.
  display-items: true

  #The plugin will check if the display item is in a valid position every specified amount of ticks. 0 to disable.
  display-items-check-ticks: 6000

  #The display type you want use.
  #0=Normal Dropped Item, 1=ArmorStand, 2=Virtual Item(ProtocolLib needed, fallback to normal dropped item if ProtocoLib not installed)
  display-type: 2

  #Allow quickshop auto despawn-spawn the display when no-player or player close the shop.
  display-auto-despawn: false

  #When range region no players, the display will despawn.
  display-despawn-range: 20

  #How long ticks we should check the shops once to decide despawn/spawn display?
  display-check-time: 40

  #Allow display show stacks effect when stack creation turned on
  #!WIP, DON'T TURN ON IT BEFORE WE FINISH IT!
  display-allow-stacks: false

  #Use enhance display protect
  enchance-display-protect: false

  #Use enhance shop protect
  enchance-shop-protect: false

  #When someone uses /qs find <item>, how far should we search in blocks?
  #This command lets users shop quickly without wasting time searching
  #Settings > 100 WILL cause lag. Don't do it, or don't cry when your server lags.
  find-distance: 45

  #If vault doesn't return a coins symbol, QuickShop will use this symbol to replace it.
  alternate-currency-symbol: '$'

  #It should fix Vault or an economy plugin that is not correctly processing the price and returns a "0" result problem.
  #If you turn on this option, plugin will force use "alternate-currency-symbol" option.
  disable-vault-format: false

  #If show currency symbol on the right side
  #By default, is on the left side
  #Only work when disable-vault-format is true
  currency-symbol-on-right: false

  #Ignore trade messages if the shop is unlimited
  ignore-unlimited-shop-messages: false

  #Allow auto fetching player shops, if you disable this, players need to use /qs fetchmessage to fetch the shops history messages. (Disabling it may cause database issues.)
  auto-fetch-shop-messages: true

  #Ignore cancel chat event, can improve compatibility with other chat plugin in some cases.
  ignore-cancel-chat-event: false

  #Allow shops to be created in a place where a sign cannot placed
  #(e.g There is blocks on all sides of the shop / The player doesn't have permission to put down a sign at that location)
  allow-shop-without-space-for-sign: false

  #The minimum price for shop, This will not affect existing shops, default is 0.01.
  minimum-price: 0.01

  #The maximum price for shop, This will not affect existing shops, set it to -1 to disable it.
  maximum-price: -1

  #Setting per item price restriction
  #Format: <itemname>;<minprice>;<maxprice>
  #e.g:
  #price-restriction:
  # - DIAMOND;100;200
  price-restriction: []

  #The number of digits after decimal, set it to -1 to disable it
  maximum-digits-in-price: -1

  #if shop is adminshop, and player has permission to change shop owner, Whether in controll panel, print the owner's uuid?
  show-owner-uuid-in-controlpanel-if-op: false

  #The wall sign material.
  #In 1.13 and legacy versions, only WALL_SIGN is available.
  #
  #For 1.14, you can use these:
  #ACACIA_WALL_SIGN
  #BIRCH_WALL_SIGN
  #DARK_OAK_WALL_SIGN
  #JUNGLE_WALL_SIGN
  #OAK_WALL_SIGN
  #SPRUCE_WALL_SIGN
  sign-material: OAK_WALL_SIGN

  #The worlds name for you didn't want create new shop.
  blacklist-world:
    - disabled_world_name

  #The lores keyword on you didn't want allow sell item.
  #Won't effect already created shops.
  blacklist-lores:
    - "SoulBound"

  #Protection check
  #Note: This will send a FAKE BlockBreakEvent to check if you can break block
  #It may conflict with some proctction or game plugin, if you don't want this, please disable and using integration below instead
  protection-checking: true

  #How many shops can be checked in once? (Container exists check)
  max-shops-checks-in-once: 100

  #Add display name to the spawned DisplayItem entity?
  display-item-use-name: false

  #Update the signs when Hopper or somethings trigged InventoryMoveItemEvent.
  #Disable it if you feel it damage your server performance.
  update-sign-when-inventory-moving: true

  #Allow player loan (Require economy plugin support)
  allow-economy-loan: false

  #The word to trade all items in player inventory
  word-for-trade-all-items: "all"

  #Allow player to create 0$ shop.
  #THIS MAY BROKEN SOMETHING
  allow-free-shop: false

  #Use fast algorithm for ShopManager#getShopIncludeAttached, it should improve HUGE performance on it.
  use-fast-shop-search-algorithm: true

  #The shop ongoing fee, if a shop's owner had no enough money, shop will auto-remove.
  ongoing-fee:
    enable: false
    #How often we will take the ongoing-fee from the players?
    ticks: 42000
    #How many money we take from the shop's owner every times?
    cost-per-shop: 2
    #Should we ignore the unlimited shop?
    ignore-unlimited: true
  #Allow QuickShop use hack util to force load shops from higher Minecraft.
  #WARNING: It may destory your server data and QuickShop shops, backup before enable it!
  force-load-downgrade-items:
    enable: false
    #WorkMode
    #0=Call Bukkit try update the ItemStack
    #1=Call Bukkit direct load the ItemStack
    method: 0
  #If a block/entity trigged protection, quickshop should break/kill it?
  remove-protection-trigger: true
  #Allow quickshop selling/buying multi items in once transaction.
  allow-stacks: false
  #Disallow player put items into shop container if that item not the shop item. WIP
  #deny-non-shop-items-to-shop-container: false
#List of items that can't be sold in shops.  Anyone with quickshop.bypass.<itemID> can bypass it
blacklist:
  - Bedrock

lockette:
  #Fix Quickshop not canceling a break lock sign event (Making it impossible to break a locked chest)\
  enable: true
  private: "[Private]"
  more_users: "[More Users]"
# Enable or disable plugin support.
plugin:
  #If you have Multiverse-Core, QSRR will try load world when shop's world don't exist and will throw an exception and auto repair the shops.
  Multiverse-Core: true
  #If you have OpenInv, QSRR will enable EnderChest feature.
  OpenInv: true
  #If you have PlaceHolderAPI, QuickShop will use PlaceHolderAPI to process all messages.
  PlaceHolderAPI: true
  #If you have LWC/LWCX,QSRR will check access
  LWC: true
  #Should QuickShop support for plugin BlockHub to use BlockHub to check region access for players?
  BlockHub:
    enable: true
    #Only use BlockHub for permission checker?
    only: false
effect:
  sound:
    ontabcomplete: true
    oncommand: true
    onclick: true
#Item matcher, don't touch it if you didn't know how to use it.
matcher:
  # Matcher type
  #0= QuickShop item matcher with configurable options below.
  #1= Bukkit item matcher, can be more accurate.
  #2= More strict matcher by Bukkit equals method
  work-type: 1
  #For Item
  item:
    #Plugin should check the item damage?
    damage: true
    #Plugin should check the item repair cost?
    repaircost: false
    #Plugin should check the item display name?
    displayname: true
    #Plugin should check the item lores?
    lores: true
    #Plugin should check the item enchs?
    enchs: true
    #Plugin should check the item potions?
    potions: true
    #Plugin should check the item attributes?
    attributes: true
    #Plugin should check the item itemflags?
    itemflags: true
    #Plugin should check the item custommodeldata?
    custommodeldata: true
    #Plugin should check the item bookmetas?
    books: true
    #Plugin should check the banner meta?
    banner: true
    #Plugin should check the skull meta?
    skull: true
    #Plugin should check the firework meta?
    firework: true
    #Plugin should check the map meta?
    map: true
    #Plugin should check the leather armor meta?
    leatherArmor: true
    #Plugin should check the fishBucket meta?
    fishBucket: true
    #Plugin should check the suspiciousStew meta?
    suspiciousStew: true
    #Plugin should check the shulkerBox contents?
    shulkerBox: true
mixedeconomy:
  deposit: "eco give {0} {1}"
  withdraw: "eco take {0} {1}"
#Integration is under BETA stage, please report any bugs to our Issue Tracker.
#Must disable protection-checks before enable integration
integration:
  #Towny Integration Component
  towny:
    enable: false
    ignore-disabled-worlds: true
    #Player if want create a shop, player must pass which checks?
    #You can use multi checks in same time.
    #Priority: UP to DOWN.
    #
    #Avaliable field:
    #OWN = Player must create the shop on their plot.
    #MODIFY = Player must have ability to build at the target plot.
    #SHOPTYPE = Player must create the shop on SHOP type plot.
    create:
      - SHOPTYPE
      - MODIFY
    #Player if want trade with the shop, player must pass which checks?
    #You can use multi checks in same time.
    #Priority: UP to DOWN.
    #
    #Avaliable field:
    #OWN = Player must create the shop on their plot.
    #MODIFY = Player must have ability to build at the target plot.
    #SHOPTYPE = Player must create the shop on SHOP type plot.
    trade: []
  #WorldGuard Integration Component
  #CHANGE NEEDS RESTART THE SERVER
  #CHANGE NEEDS RESTART THE SERVER
  #CHANGE NEEDS RESTART THE SERVER
  worldguard:
    enable: false
    #Should we prevent create a shop or trade with shop outside this plugin area
    whitelist-mode: false
      #Player if want create a shop, player must pass which checks?
      #You can use multi checks in same time.
      #Priority: UP to DOWN
      #
    #Avaliable field:
    #FLAG = Region must set quickshop-create flag available for players.
    #BUILD = Player must have ability to build at the target region.
    #CHEST_ACCESS = Player must can access chest.
    #INTERACT = Player must have ability to interact in the target region.
    create:
      - FLAG
      - CHEST_ACCESS
        #Player if want create a shop, player must pass which checks?
        #You can use multi checks in same time.
        #Priority: UP to DOWN
        #
        #Avaliable field:
      #FLAG = Region must set quickshop-trade flag available for players.
      #BUILD = Player must have ability to build at the target region.
      #CHEST_ACCESS = Player must can access chest.
      #INTERACT = Player must have ability to interact in the target region.
    trade: []
  plotsquared:
    #Player if want create a shop, player must have quickshop-create flag
    #Player if want trade a shop, player must have quickshop-trade flag
    enable: false
    #Should we prevent create a shop or trade with shop outside this plugin area
    whitelist-mode: true
  residence:
    enable: false
    #Should we prevent create a shop or trade with shop outside this plugin area
    whitelist-mode: true
      #Player if want create a shop, player must pass which checks?
      #You can use multi checks in same time.
      #Priority: UP to DOWN
    #
    #Avaliable field:
    #FLAG = Region must set quickshop.create flag available for players.
    #<OTHER> = Other avaliable flags in Residence plugin or Residence addons registered flags.
    create:
      - FLAG
      - interact
      - use
      #Player if want trade a shop, player must pass which checks?
      #You can use multi checks in same time.
      #Priority: UP to DOWN
      #
      #Avaliable field:
      #FLAG = Region must set quickshop.create flag available for players.
      #<OTHER> = Other avaliable flags in Residence plugin or Residence addons registered flags.
    trade: []
  factions:
    enable: false
    #Should we prevent create a shop or trade with shop outside this plugin area
    whitelist-mode: true
    #Player if want create a shop, player must pass which checks?
    create:
      #Faction require the status must match with under:
      require:
        open: false
        normal: true
        wilderness: false
        peaceful: true
        permanent: false
        safezone: false
        own: false
        warzone: false
        #Player must have flags in the faction:
      flags:
        - CONTAINER
        - ECONOMY
    #Faction require the status must match with under?
    trade:
      #Faction require:
      require:
        open: false
        normal: true
        wilderness: false
        peaceful: false
        permanent: false
        safezone: false
        own: false
        warzone: false
        #Player must have flags in the faction:
      flags: []
#the protection that shop should check
protect:
  explode: true
  hopper: true
  entity: true
#This option allow you custom item max stacksize.
# - STONE:128
custom-item-stacksize: []






